.header {
	padding: 50px 100px;
	text-align: center;
	background: #999999;
	font-size: 32px;
	font-family: sans-serif;
}

.main {
	background: LightGreen;
	padding: 100px;
	font-size: 38px;
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
}

.footer {
	background: SlateGray;
	padding: 30px 100px;
	font-size: 32px;
	font-family: sans-serif;
	text-align: center;
}